<%- include('partial/header')-%>

<div class="box">
  <h3>Search Result Of Employee</h3>
  <%if(results.length!=0){ %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
      </tr>
    </thead>

    <tbody>
      <%results.forEach((result)=>{%>

      <tr>
        <td><%=result.employeeName%></td>
        <td><%=result.employeeEmail%></td>
        <td><%=result.employeeAddress%></td>
        <td><%=result.employeePhoneNumber%></td>
      </tr>
      <%})%>
    </tbody>
  </table>
  <%} else{%>
  <div class="alert alert-danger">There are no employee on this name.</div>
  <% }%>
</div>

<%- include('partial/footer')-%>
